VITE_CONTRACT_ADDRESS=0x1b7e05bf00bd9179dd6736437b9242e0b2c3df965fbb1fe7c5f4de8118d431b
VITE_RPC_ENDPOINT=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa
VITE_GRAPH_QL_ENDPOINT=http://localhost:5100/graphql
