VITE_CONTRACT_ADDRESS=0x2daba5aca1ab41d5a455286609d86b9302f76fc3151ce8741256f4130841e2
VITE_RPC_ENDPOINT=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa
VITE_GRAPH_QL_ENDPOINT=http://localhost:5100/graphql
