DATABASE_URL=postgres://user:default_password@postgres:5432/checkpoint

RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa

PORT=5100

CONTRACT_ADDRESS=0x15e58986ab5eedd7ecf46c3da5c203128c062c675059849e39c7df7434f3c4c

START_BLOCK=6962255