DATABASE_URL=postgres://user:default_password@postgres:5432/checkpoint

RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa

PORT=5100

CONTRACT_ADDRESS=0x2daba5aca1ab41d5a455286609d86b9302f76fc3151ce8741256f4130841e2

START_BLOCK=7035113