DATABASE_URL=postgres://user:default_password@postgres:5432/checkpoint

RPC_URL=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/gpR0c9Le2dR45Fqit9OXTz6dtpf1HPfa

PORT=5100

CONTRACT_ADDRESS=0x299502ff89bf044f25ac456290fa647c76c910a0e1f87853dea6d529b1bc0b2

START_BLOCK=6962255